<h1>Login</h1>

<div id="session"><%= form_with url:'/login' do |form| %>
Username: <%= form.text_field :username %>
Password: <%= form.password_field :password %>
<%= form.submit "Sign in"%>
<% end %></div>